.heroElements{
    display: flex;
    justify-content: center;
    
}
.heroElementsContent{
    gap: 50px;
    padding-top: 324.56px;
    width: 1136px;
}

.heroTitleAndSubTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.heroElementsContentText{
    padding-bottom: 78px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.heroElementsContent .heroElementsContentText > h1{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 150%;
    max-width: 852px;
    width: 100%;
    letter-spacing: 8%;
    
}

.heroElementsContent .heroElementsContentText > p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 170%;
    letter-spacing: 8%;
    max-width: 600px;
    width: 100%;
   
}

/* card*/

.heroElementsCardSlider{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.cardContent{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.cardContent > h2{
    font-size: 18px;
    line-height: 170%;
    color: #FFFFFF;
    letter-spacing: 8%;
}

.cardIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1, .card2, .card3, .card4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 256px;
    border: 1px solid #1D1E25;
    border-radius: 8px;
    cursor: pointer;
}

.card1{
    background-image: url('../assets/images/championsLeague.svg');
}

.card2{
    background-image: url('../assets/images/Ligue1.svg');
}

.card3{
    background-image: url('../assets/images/PremierLeague.svg');
}

.card4{
    background-image: url('../assets/images/bundesLiga.svg');
}