
.heroElementsContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.heroTitleAndSubTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.heroTitleAndSubTitle > h1{
    font-size: 68px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 130%;
    max-width: 852px;
    width: 100%;
    letter-spacing: -2%;
    text-align: center;
}

.heroTitleAndSubTitle > p{
    font-size: 24px;
    font-weight: 400;
    color: #A7A9BE;
    line-height: 150%;
    letter-spacing: 0%;
    max-width: 731px;
    width: 100%;
    text-align: center;
}

.heroReleaseBadge{
    width: 280px;
    height: 50px;
    background-image: url('../assets/images/releaseBadge.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}