.mainSection{
    background-image: url('../assets/images/mainBackground.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainSectionContent{
    max-width: 565px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.card{
    display: flex;
    gap: 32px;
}

.cardRight{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cardLeft{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid linear-gradient(90deg, #FFD700 0%, #FFA500 100%);
}