.mainSection{
    display: flex;
    justify-content: center;
    padding-top: 148px;
    padding-bottom: 148px;
}

.mainSectionContent{
    max-width: 1136px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.ligue{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.championshipTitle{
    display: flex;
    align-items: center;
    gap: 16px;

}

.championshipTitle> h2{
    font-size: 26px;
    color: #fff;
    line-height: 150%;

}

.championshipContent{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    align-items: start;
    max-width: 1136px;
    width: 100%;
    justify-content: space-between;
    row-gap: 20px;
}


.card{
    display: flex;
    gap: 32px;
    background-color: #1B1C1D;
    width: 565px;
    border-radius: 8px;
    padding: 32px;
    align-items: center;
}

.cardRight{
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 373px;
    width: 100%;
}

.cardRight h2{
    font-size: 18px;
    line-height: 145%;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.5%;
}

.cardRight > Link{
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #A7A9BE;
    letter-spacing: 0.5%;
    text-decoration: none;
}

.cardLeft{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid linear-gradient(90deg, #FFD700 0%, #FFA500 100%);
}


.gameLink{
    text-decoration: none;
    color: #A7A9BE;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 762px;
    width: 100%;
    gap: 36.79px;
    justify-self: center;
    margin-top: 70px;
    margin-left: 50%;
}

.error > p{
    text-align: center;
    font-size: 18px;
    line-height: 170%;
    color: #9D9D9D;
}


