


.navBar{
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.navBarContent {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 1136px;
    width: 100%;
}

.navBarLinks{
  display: flex;
  
  align-items: center;
  gap: 15px;
}

.navLink{
  text-decoration: none;
  color: #fff;
}

/*responsive design*/


  
  

