
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #060606;
  overflow-x: hidden;
  max-width: 100vw;
}

@media screen and (max-width: 1280px){
  
  #navBarContent{
    max-width: 1050px;
  }

  #heroElementsContent{
    padding-bottom: 40px;
    max-width: 1050px;
  }

  #mainSectionContent{
    max-width: 1050px;  
  }
}
@media screen and (max-width: 1024px){
  #navBarContent{
    max-width: 800px;
  }

}


